
#nav-logo-menu-2 .bg-wrap {
	background: rgba(35, 33, 34, 0.76);
}#text-1col .bg {
    background-image: url('../images/bg-sign-primary.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.2;
}
